@import "tailwindcss";

/* ─── Fontes Amenic ──────────────────────────────────────────────────────── */
@font-face {
  font-family: "Ginger";
  src: url("/fonts/Ginger.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheMacksen";
  src: url("/fonts/TheMacksen.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bridamount";
  src: url("/fonts/Bridamount.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thimberly";
  src: url("/fonts/Thimberly.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shintia";
  src: url("/fonts/Shintia.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Housttely";
  src: url("/fonts/Housttely_Signature.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}
